<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.parkinglot.admin.dao.IAdminUserDao" >
 	 <resultMap id="BaseResultMap" type="com.parkinglot.admin.entity.AdminEntity" >
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="username" property="username" jdbcType="VARCHAR" />
	    <result column="password" property="password" jdbcType="VARCHAR" />
	   	<result column="role" property="role" jdbcType="INTEGER" />
 	 </resultMap>
  
  <!-- 添加用户信息 -->
	<insert id="insertAdminUser" parameterType="com.parkinglot.admin.entity.AdminEntity">
		INSERT INTO admin (username,password,role)
		VALUES (#{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},
		#{role,jdbcType=INTEGER})
	
	</insert>
	
	<!-- 查询用户是否存在 -->
	<select id="selectUserByUsrename" parameterType="com.parkinglot.admin.entity.AdminEntity" resultMap="BaseResultMap">
		SELECT id,username,role
		FROM admin
		WHERE 
			username=#{username,jdbcType=VARCHAR}
	</select>
	
	<!-- 内部用户登录 -->
	<select id="selectUserByLogin" resultMap="BaseResultMap" parameterType="com.parkinglot.admin.entity.AdminEntity">
		SELECT id,username,role
		FROM admin
		WHERE 
		         username=#{username,jdbcType=VARCHAR} 
		     AND password=#{password,jdbcType=VARCHAR}
	  limit 1
	</select>
	
	<!-- 查询内部用户列表 -->
	<select id="selectAdminForList" resultMap="BaseResultMap">
		SELECT id,username,role
		FROM admin
		WHERE role != 0
	</select>

	<!-- 通过Id查询用户信息 -->
	<select id="selectAdminUserById" resultMap="BaseResultMap">
		SELECT id,username,role 
		FROM admin
		WHERE
			id=#{id,jdbcType=INTEGER}
	</select>
	
	<!-- 修改密码 -->
	<update id="updatePasswordById" parameterType="com.parkinglot.admin.entity.AdminEntity">
		UPDATE admin 
		<if test="password != '' and password != null">
			set	password = #{password,jdbcType=VARCHAR}
		</if>
		WHERE id=#{id,jdbcType=INTEGER}
	</update>
	
	<!-- 删除用户 -->
	<delete id="deleteAdminUsers">
		DELETE FROM admin WHERE id=#{id,jdbcType=INTEGER}
	</delete>
	
</mapper>