<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.parkinglot.admin.dao.IParkingBillDao">

	<resultMap id="BaseResultMap" type="com.parkinglot.admin.entity.ParkingBillEntity">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="bill_num" property="billNum" jdbcType="VARCHAR" />
		<result column="parking_id" property="parkingId" jdbcType="INTEGER" />
		<result column="parking_name" property="parkingName" jdbcType="VARCHAR" />
		<result column="card_id" property="cardId" jdbcType="INTEGER" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="DOUBLE" />
		<result column="account" property="account" jdbcType="DOUBLE" />
		<result column="firstDate" property="firstDate" jdbcType="TIMESTAMP" />
		<result column="statementDate" property="statementDate"
			jdbcType="TIMESTAMP" />
		<result column="flag" property="flag" jdbcType="INTEGER" />
		<result column="tis" property="tis" jdbcType="NVARCHAR" />
	</resultMap>

	<select id="selectAllParkingBillEntity" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		id,bill_num,parking_id,parking_name,card_id,phone,price,account,firstDate,statementDate,flag,tis
		from parking_bill where
		phone=#{phone,jdbcType=VARCHAR}
		ORDER BY statementDate DESC
	</select>


	<select id="selectParkingBillByBillNum" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		id,bill_num,parking_id,parking_name,card_id,phone,price,account,firstDate,statementDate,flag,tis
		from parking_bill where
		bill_num=#{billNum,jdbcType=VARCHAR}
	</select>

	<insert id="insertParkingBill" parameterType="com.parkinglot.admin.entity.ParkingBillEntity">
		insert into
		parking_bill(bill_num,parking_id,parking_name,card_id,phone,price,account,firstDate,statementDate,flag)
		values(
		#{billNum,jdbcType=VARCHAR},
		#{parkingId,jdbcType=INTEGER},
		#{parkingName,jdbcType=VARCHAR},
		#{cardId,jdbcType=INTEGER},
		#{phone,jdbcType=VARCHAR},
		#{price,jdbcType=DOUBLE},
		#{account,jdbcType=DOUBLE},
		#{firstDate,jdbcType=TIMESTAMP},
		#{statementDate,jdbcType=TIMESTAMP},
		#{flag,jdbcType=INTEGER}
		);
	</insert>



	<select id="selectAllParkingBillEntityByCard" resultMap="BaseResultMap">
		select
		id,bill_num,parking_id,parking_name,card_id,phone,price,account,firstDate,statementDate,flag,tis
		from parking_bill where
		card_id=#{cardId,jdbcType=INTEGER}
	</select>

	<!-- 通过手机号和缴费状态查询用户的账单 -->
	<select id="selectBillsByPhoneAndFlag" resultMap="BaseResultMap">
		SELECT
		id,bill_num,parking_id,parking_name,card_id,phone,price,account,firstDate,statementDate,flag,tis
		FROM
		parking_bill
		WHERE
		phone=#{phone,jdbcType=VARCHAR}
		AND
		flag=#{flag,jdbcType=INTEGER}
	</select>

	<!-- 查询未缴，未出账，欠费账单 -->
	<select id="selectUnPayBill" resultMap="BaseResultMap">
		select
		id,bill_num,parking_id,parking_name,card_id,phone,price,account,firstDate,statementDate,flag
		from parking_bill where parking_id = #{id,jdbcType=INTEGER} and flag
		!= 1 limit 1
	</select>


	<select id="selectAllParkingBillEntityByCardId" resultMap="BaseResultMap">
		select
		id,bill_num,parking_id,parking_name,card_id,phone,price,account,firstDate,statementDate,flag,tis
		from parking_bill
		where statementDate = (select max(statementDate) from
		parking_bill where
		card_id=#{cardId,jdbcType=INTEGER}
		group by card_id)
		and card_id = #{cardId,jdbcType=INTEGER}
	</select>

	<select id="selectAllParkingBillEntitys" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		id,bill_num,parking_id,parking_name,card_id,phone,price,account,firstDate,statementDate,flag,tis
		from parking_bill where flag=#{flag,jdbcType=INTEGER}
		
	</select>
	<!-- 缴费 -->
	<update id="updateParkingBill" parameterType="com.parkinglot.admin.entity.ParkingBillEntity">
		update
		parking_bill
		set
		flag= #{flag,jdbcType=INTEGER},
		tis= #{tis,jdbcType=NVARCHAR}
		where
		id=#{id,jdbcType=INTEGER}
	</update>

	<!-- 用户缴费 -->
	<update id="updateBillInfo" parameterType="com.parkinglot.admin.entity.ParkingBillEntity">
		UPDATE parking_bill
		SET
		flag=#{flag,jdbcType=INTEGER}
		WHERE id=#{id,jdbcType=INTEGER}
	</update>


	<!-- 停車場价格改变后，账单价格跟随改变 -->
	<update id="updateOldBill" parameterType="com.parkinglot.admin.entity.ParkingBillEntity">
		update parking_bill
		set
		price = #{price,jdbcType=DOUBLE},
		account = #{account,jdbcType=DOUBLE},
		flag= #{flag,jdbcType=INTEGER},
		statementDate=#{statementDate,jdbcType=TIMESTAMP},
		tis= #{tis,jdbcType=NVARCHAR}
		where
		 id = #{id,jdbcType=INTEGER}
	</update>


	<select id="selectAllParkingBillEntityByParkingLot" resultMap="BaseResultMap">
		select
		id,bill_num,parking_id,parking_name,card_id,phone,price,account,firstDate,statementDate,flag,tis
		from parking_bill where
		parking_id = #{parkingId,jdbcType=INTEGER} and
		flag=2
	</select>

	<!-- 查找某张停车卡是否有逾期未缴的账单 -->
	<select id="selectBillByCardIdAndFlagForList" resultMap="BaseResultMap">
		SELECT
			id,bill_num,parking_id,parking_name,card_id,phone,price,account,firstDate,statementDate,flag,tis
		FROM parking_bill 
		WHERE 
			card_id=#{cardId,jdbcType=INTEGER}
		AND
			flag=#{flag,jdbcType=INTEGER}
	</select>

	<!-- 查找某张停车卡是否有逾期未缴的账单 -->
	<select id="selectBillByCardIdAndFlag" resultMap="BaseResultMap">
		SELECT
			id,bill_num,parking_id,parking_name,card_id,phone,price,account,firstDate,statementDate,flag,tis
		FROM parking_bill 
		WHERE 
			card_id=#{cardId,jdbcType=INTEGER}
		AND
			flag=#{flag,jdbcType=INTEGER}
	</select>

	
	<!-- 通过Id查询账单信息 -->
	<select id="selectBillById" resultMap="BaseResultMap">
		SELECT
			id,bill_num,parking_id,parking_name,card_id,phone,price,account,firstDate,statementDate,flag,tis
		FROM parking_bill 
		WHERE id=#{id,jdbcType=INTEGER}
		
	</select>



</mapper>